<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="pingback" href="http://www.ongoingthemes.com/homelist/xmlrpc.php">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style type="text/css">
                img.wp-smiley,
                img.emoji {
                    display: inline !important;
                    border: none !important;
                    box-shadow: none !important;
                    height: 1em !important;
                    width: 1em !important;
                    margin: 0 .07em !important;
                    vertical-align: -0.1em !important;
                    background: none !important;
                    padding: 0 !important;
                }
            </style>
            <link rel='stylesheet' id='colorbox-css'  href='http://www.ongoingthemes.com/homelist/wp-content/plugins/wp-colorbox/example5/colorbox.css?ver=4.9.5' type='text/css' media='all' />
            <link rel='stylesheet' id='mapescape.css-css'  href='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/mapescape/css/mapescape.css?ver=20160604' type='text/css' media='all' />
            <link rel='stylesheet' id='contact-form-7-css'  href='http://www.ongoingthemes.com/homelist/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.1' type='text/css' media='all' />
            <link rel='stylesheet' id='homelist-fonts-css'  href='https://fonts.googleapis.com/css?family=Nunito%3A200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CVarela+Round%7CAbril+Fatface%7CCaveat+Brush&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
            <link rel='stylesheet' id='bootstrap-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/bootstrap.css' type='text/css' media='all' />
            <link rel='stylesheet' id='animate-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/animate.min.css' type='text/css' media='all' />
            <link rel='stylesheet' id='slick-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/slick.css' type='text/css' media='all' />
            <link rel='stylesheet' id='slick-theme-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/slick-theme.css' type='text/css' media='all' />
            <link rel='stylesheet' id='font-awesome-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/font-awesome.min.css' type='text/css' media='all' />
            <link rel='stylesheet' id='flaticon-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/fonts/flaticon/flaticon.css' type='text/css' media='all' />
            <link rel='stylesheet' id='wp-style-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/style.css?ver=4.9.5' type='text/css' media='all' />
            <link rel='stylesheet' id='homelist-style-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/style.css' type='text/css' media='all' />
            <link rel='stylesheet' id='homelist-reset-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/reset.css' type='text/css' media='all' />
            <link rel='stylesheet' id='homelist-responsive-css'  href='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/css/responsive.css' type='text/css' media='all' />

        {% endblock %}
    </head>
    <body id="top" class="home page-template page-template-template-full-width page-template-template-full-width-php page page-id-324">
        <div class="page-wrapper">
            {% include 'header.html.twig' %}
            {% block body %}{% endblock %}
            {% include 'footer.html.twig' %}
        </div>
        {% block javascripts %}
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/wp-colorbox/jquery.colorbox-min.js?ver=1.1.2'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/wp-colorbox/wp-colorbox.js?ver=1.1.2'></script>
            <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyDPw4Y3kE20-O9vNvXWIjI6jQLYW96NC3A&#038;libraries=weather%2Cgeometry%2Cvisualization%2Cplaces%2Cdrawing&#038;ver=4.9.5'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/jquery.chained.remote.custom.min.js?ver=4.9.5'></script>
            <!--[if lt IE 9]>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/html5shiv.js?ver=3.7.3'></script>
            <![endif]-->
            <script type="text/javascript">
                var recaptchaCallback = function() {
                    var recaptchas = document.getElementsByClassName("g-recaptcha");
                    for(var i=0; i<recaptchas.length; i++) {
                        var recaptcha = recaptchas[i];
                        var sitekey = recaptcha.dataset.sitekey;
                        grecaptcha.render(recaptcha, {
                            'sitekey' : sitekey
                        });
                    }
                };
            </script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/jquery-google-map/infobox.js?ver=4.9.5'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/jquery-google-map/markerclusterer.js?ver=4.9.5'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/mapescape/js/mapescape.js?ver=4.9.5'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/libraries/jquery-google-map/jquery-google-map.js?ver=0.8.6'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/assets/js/realia.js?ver=1.2.1'></script>
            <script type='text/javascript' src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&#038;render=explicit&#038;ver=4.9.5'></script>
            <script type='text/javascript'>/* <![CDATA[ */
                var wpcf7 = {"apiSettings":{"root":"http:\/\/www.ongoingthemes.com\/homelist\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
                /* ]]> */
            </script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.1'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/bootstrap.js'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/bootstrap-touch-slider.js'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/jquery.easing.js'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/slick.min.js'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-content/themes/homelist/assets/js/script.js'></script>
            <script type='text/javascript' src='http://www.ongoingthemes.com/homelist/wp-includes/js/wp-embed.min.js?ver=4.9.5'></script>
            <script type="text/javascript" src="//themera.net/embed/themera.js?id=68756"></script>
        {% endblock %}
    </body>
</html>
