<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="topbar-nav topbar-left">
                    <li class="disabled"><a href="#"><i class="fa fa-envelope"></i> contact@example.com</a></li>
                    <li class="disabled"><a href="#"><i class="fa fa-phone"></i> (123) 456 78 90</a></li>
                </ul>
                <ul class="topbar-nav topbar-right hidden-xs">
                    <li>
                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>