{% extends 'base.html.twig' %}

{% block body %}
<body id="top" class="archive tax-locations term-france term-37">

<div class="page-wrapper">

    <div class="header">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" href="http://www.ongoingthemes.com/homelist/">
                        <img src="http://www.ongoingthemes.com/homelist/wp-content/uploads/2018/04/Logo24.png" height="80" alt="Home">
                    </a>
				</div>
                <div class="collapse navbar-collapse" id="navbar-top">
                    <div id="navbar-top-2" class="menu-primary-container">
                        <ul id="primary-menu" class="nav navbar-nav navbar-right">
                            <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800">
                                <a title="Home" href="/">Home </a>
                            </li>
                            <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800">
                                <a title="Contact" href=".footer">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</nav>
	</div>

    <!-- HEADER -->

    <div id="header" class="heading" style="background-image: url(http://www.ongoingthemes.com/homelist/wp-content/uploads/2017/07/slide1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="page-title">
                        <h2>Location: France</h2>       <!-- NEEDED TO BE A VARIABLE -->
                    </div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="http://www.ongoingthemes.com/homelist">Home</a>
                        </li>
                        <li>France</li>                  <!-- NEEDED TO BE A VARIABLE -->
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->

	<div  id="content"  class="main">
        <div class="container ">
            <section id="primary" class="content-area">
                <main id="main" class="site-main content" role="main">
                    <div class="property-box-archive type-box item-per-row-3">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="property-container">
                                    <div class="property-image ">
                                        <img width="640" height="425" src="http://www.ongoingthemes.com/homelist/wp-content/uploads/2019/03/img07.jpg" class="property-box-thumbnail wp-post-image" alt="" />
                                        <a href="http://www.ongoingthemes.com/homelist/properties/rue-de-rivoli/" class="property-box-image-inner "></a>
                                    </div>
                                    <div class="property-content">
                                            <h3>
                                                <a href="http://www.ongoingthemes.com/homelist/properties/via-di-boccea-st/">Via di Boccea St.</a>
                                                <small><i class="flaticon-pin-1"></i> Via di Boccea St, Italy</small>
                                            </h3>
                                            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius...</p>
                                        </div>
                                        <div class="property-attributes text-center">
                                            <div class="col-xs-4">
                                                <h4>
                                                    <i class="fa fa-money"></i>
                                                    <p title="Price">1000$</p>
                                                </h4>
                                            </div>
                                        </div>
                                    <div class="property-buttons">
                                        <a href="http://www.ongoingthemes.com/homelist/properties/rue-de-rivoli/" class="property-btn">Browse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </section>
        </div>
	</div>
</div>
</body>
{% endblock %}
